.album-card-container {
    margin: 16px;
    width: 200px;
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #111;
    border: 1px solid rgba(60,60,60,0.2);
    cursor: pointer;
}

.album-card-container img {
    width: 200px;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.album-card-info {
    text-align: center;
    vertical-align: center;
    font-family: inherit;
    color: #ddc;
    box-shadow: none;
    line-height: 20px;
    font-weight: 600;
}
.album-card-title {
    font-size: 16px;
}

.album-card-artist {
    font-size: 14px;
}