.album-card-container {
    margin: 16px;
    width: 190px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #111;
    border: 1px solid rgb(150,150,150);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    font-family: "Roboto Light", sans-serif;
    color: #ddc;
    box-shadow: none;
    font-weight: 600;
}

.album-card-container-hover {
    display: none;
}

.album-card-container:hover .album-card-container-hover {
    width: 190px;
    height: 250px;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: rgba(50,50,50,0.8);
    border: 1px solid rgba(50,50,50,0.6);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffc600;
}

.album-card-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-card-btn:hover {
    opacity: 0.9;
}

.album-card-btn:active {
    opacity: 0.7;
    color: rgba(50,50,50,1);
}

.album-card-container img {
    width: 190px;
    height: 190px;
    border-radius: 8px 8px 0 0;
}

.album-card-info {
    text-align: center;
    vertical-align: center;
}

.album-card-title {
    font-size: 16px;
}

.album-card-artist {
    font-size: 14px;
}